@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Inter&display=swap");
@import "tailwindcss";
@import "./about.css";


body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

body h1 {
  font-weight: bold;
  font-size: 44px;
}

@theme {
  --primary: #151515;
  --secondary: #131312;
  --text-primary: white;
  --text-secondary: #CCCCCC;
  --cards-background: #171717;
  --cards-outline: #373636;
  --title-font: "Epilogue", "sans-serif";
  --text-font: "Inter", "sans-serif";
}

body {
  color: var(--text-primary);
}