@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Inter&display=swap");
@import "tailwindcss";
@import "./about.css";
@import "./skills.css";


body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

body h1 {
  font-weight: bold;
  font-size: 44px;
}

@theme {
  --primary: #121214;
  --secondary: #868E96;
  --background-primary: #0A0A0B;
  --text-primary: white;
  --text-secondary: #CCCCCC;
  --cards-background: #171717;
  --cards-outline: #373636;
  --title-font: "Epilogue", "sans-serif";
  --text-font: "Inter", "sans-serif";
  --scroll-indicator-font: "Inter", "sans-serif";
}

body {
  color: var(--text-primary);
}

.btn,
.input {
  height: 52px;
}

.input {
  width: 100%;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
}

.input,
.textarea {
  background: transparent;
  outline: none;
  border: 1px solid white;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px var(--primary) inset !important;
  border-color: white !important;
  border-width: 1px !important;
  border-style: solid !important;
}

.input:focus,
.textarea:focus {
  border-color: white;
  box-shadow: 0 0 0 1px white;
}

.input::placeholder,
.textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
}

.textarea {
  width: 100%;
  height: 180px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  resize: none;
}