.skill-section-tab {
  border-radius: 0px 2px 2px 0px;
}

.skill-section-tab:first-child {
  border-radius: 8px 2px 2px 0px;
}

.skill-section-tab:last-child {
  border-radius: 0px 2px 2px 8px;
}

.skills-tab-container {
  border-radius: 0px 8px 8px 0px;
}
